@import "./styles/core";

.header {
  padding: rem(20) rem(40);
  background-image: url("./images/header-bg.jpg");
  min-height: 400px;
  position: relative;

  .overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &__searchTitle {
    margin-bottom: rem(20);
    margin-top: rem(40);
  }
}

.container {
  @include container;
}

.footer {
  background-color: darken($color--gray, 35%);
  padding: rem(20) 0;
}

.container {
  @include container;
}

.topBar {
  display: flex;
  justify-content: space-between;
  margin-bottom: $grid * 8;
}

.panel {
  background-color: lighten($color--gray, 40%);
  padding: rem(10);
}

.main {
  background-color: $color--white;
}

.wrapper {
  padding: rem(40) rem(20);
  display: flex;
  flex-wrap: wrap;
}