@import "styles/core.scss";

.block-link {
  display: block;
}

.logo {
  color: $color--red;
  font-weight: bold;
}

.header {
  padding: rem(20) rem(40);
  background-image: url("./images/header-bg.jpg");
  min-height: 400px;
  position: relative;

  .overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &__searchTitle {
    margin-bottom: rem(20);
    margin-top: rem(40);
  }
}

.container {
  @include container;
}

.searchTitle {
  color: $color--white;
  text-transform: uppercase;
}

.searchInput {
  color: $color--white;
  background-color: $color--black;
  font-size: rem(18);
  height: rem(60);
  padding: rem(10) rem(20);
  border: 0;
  width: 100%;
  border-bottom: 2px solid $color--red;
}

.searchLabel {
  color: $color--white;
  text-transform: uppercase;
  margin-right: rem(10);
}

.panel {
  background-color: lighten($color--gray, 40%);
  padding: rem(10);
}

.main {
  background-color: $color--white;
}

.wrapper {
  padding: rem(40) rem(20);
  display: flex;
  flex-wrap: wrap;
}

.footer {
  background-color: darken($color--gray, 35%);
  padding: rem(20) 0;
}
